@import '../fonts/stylesheet.css';    
body {
    margin: 0;
    background-color: #fdf0d5;
   }
   p {
    font-family: 'Chai', Georgia, "Times New Roman", Times, serif;

   }
   h1 {
    font-family: 'Chai', Arial, Helvetica, sans-serif;
   }
   h2 {
    font-family: 'National Park R', Arial, Helvetica, sans-serif;
   }
   a.link {
       color: #28afb0;
   }
   a.visited {
       color: #007f81;
   }