@import '../fonts/stylesheet.css';    
body {
    margin: 0;
    background-color: #fdf0d5;
   }
   p {
    font-family: 'Chai', Georgia, "Times New Roman", Times, serif;
    font-size: 1rem;
    color: #000000;
   }
   h1 {
    font-family: 'Chai', Arial, Helvetica, sans-serif;
    font-size: 7rem;
    font-weight: bold;
    color: #eb5e55;
    padding: 0;
    text-shadow: 2px 2px black;
   }
   h2 {
    font-family: 'National Park R', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #28afb0;
   }